/* theme-changer: begin */
@define-color base #1E1E2E;
@define-color mantle #45475A;
@define-color crust #181825;
@define-color surface0 #313244;
@define-color surface1 #45475A;
@define-color overlay0 #6C7086;
@define-color text #CDD6F4;
@define-color subtext0 #A6ADC8;
@define-color blue #CBA6F7;
@define-color mauve #CBA6F7;
@define-color red #F38BA8;
@define-color green #94E2D5;
@define-color yellow #F9E2AF;
@define-color peach #FAB387;
/* theme-changer: end */

/* theme-changer: begin keyframes */
@keyframes ws-active {
    0%   { background-color: #CBA6F7; }
    50%  { background-color: #F5C2E7; }
    100% { background-color: #CBA6F7; }
}
/* theme-changer: end keyframes */

/* theme-changer: begin modules */
.modules-left,
.modules-center,
.modules-right {
    background: rgba(30,30,46,0.95);
    border-radius: 14px;
    padding: 2px 10px;
    border: 2px solid #313244;
    min-height: 0;
}
/* theme-changer: end modules */

.modules-center,
.modules-left,
.modules-right {
    padding: 4px 8px;
    border-radius: 100px;
    border: none;
    background-color: @base;
}

.modules-left {
    padding: 6px;
}

* {
    all: unset;
    padding: 0;
    margin: 0;
    min-height: 0;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
    font-weight: 700;
    color: @text;
}

tooltip {
    border: none;
    border-radius: 8px;
    background-color: @text;
}

tooltip label {
    font-family: "JetBrainsMono Nerd Font Propo";
    padding: 4px 8px;
    color: @base;
}

#workspaces button {
    margin: 0 2px;
    min-width: 15px;
    border-radius: 100px;
    transition: all 0.2s ease;
    background-color: @surface1;
}

#workspaces button label {
    color: transparent;
}

#workspaces button.active {
    min-width: 40px;
    animation: ws-active forwards;
}

#workspaces button.active label {
    color: @surface0;
}

#workspaces button:first-child {
    margin-left: 0;
}

#workspaces button:last-child {
    margin-right: 0;
}

menu {
    padding: 8px;
    border-radius: 8px;
    background-color: @text;
}

menu image,
menuitem label {
    color: @base;
    padding: 2px 0;
}

#tray {
    padding: 0 8px;
    border: 1px solid @surface1;
    border-radius: 100px;
    color: red;
}
