@import './styles/colors.css';

/* theme-changer: begin */
:root {
  --cc-bg:               rgba(26,27,38,0.8);
  --noti-border-color:   rgba(65,72,104,0.35);
  --noti-bg:             36, 40, 59;
  --noti-bg-alpha:       0.80;
  --noti-bg-darker:      #1a1b26;
  --noti-bg-hover:       #292e42;
  --noti-bg-focus:       rgba(65,72,104,0.3);
  --noti-close-bg:       #292e42;
  --noti-close-bg-hover: #414868;
  --text-color:          #c0caf5;
  --text-color-disabled: #a9b1d6;
  --bg-selected:         #7aa2f7;
}
/* theme-changer: end */

@import './styles/central_control.css';
@import './styles/notifications.css';
