@import './styles/colors.css';

/* theme-changer: begin */
:root {
  --cc-bg:               rgba(18,18,20,0.8);
  --noti-border-color:   rgba(49,50,54,0.35);
  --noti-bg:             28, 29, 32;
  --noti-bg-alpha:       0.80;
  --noti-bg-darker:      #121214;
  --noti-bg-hover:       #26272a;
  --noti-bg-focus:       rgba(49,50,54,0.3);
  --noti-close-bg:       #26272a;
  --noti-close-bg-hover: #313236;
  --text-color:          #e4e4e7;
  --text-color-disabled: #c5c5c8;
  --bg-selected:         #d8d8dc;
}
/* theme-changer: end */

@import './styles/central_control.css';
@import './styles/notifications.css';
