@import './styles/colors.css';

/* theme-changer: begin */
:root {
  --cc-bg:               rgba(31,35,40,0.8);
  --noti-border-color:   rgba(68,75,83,0.35);
  --noti-bg:             43, 48, 54;
  --noti-bg-alpha:       0.80;
  --noti-bg-darker:      #1f2328;
  --noti-bg-hover:       #31363d;
  --noti-bg-focus:       rgba(68,75,83,0.3);
  --noti-close-bg:       #31363d;
  --noti-close-bg-hover: #444b53;
  --text-color:          #d0d4d9;
  --text-color-disabled: #8a9199;
  --bg-selected:         #8fa1b3;
}
/* theme-changer: end */

@import './styles/central_control.css';
@import './styles/notifications.css';
