/* theme-changer: begin */
@define-color base #0b0b10;
@define-color mantle #313244;
@define-color crust #11111b;
@define-color surface0 #1e1e2e;
@define-color surface1 #313244;
@define-color overlay0 #585b70;
@define-color text #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color blue #94e2d5;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color green #94e2d5;
@define-color yellow #f9e2af;
@define-color peach #fab387;
/* theme-changer: end */

/* theme-changer: begin keyframes */
@keyframes ws-active {
    0% {
        background-color: #94e2d5;
    }

    50% {
        background-color: #a6e3a1;
    }

    100% {
        background-color: #94e2d5;
    }
}

/* theme-changer: end keyframes */

/* theme-changer: begin modules */
.modules-left,
.modules-center,
.modules-right {
    background: rgba(11, 11, 16, 0.95);
    border-radius: 14px;
    padding: 2px 10px;
    border: 2px solid #1e1e2e;
    min-height: 0;
}

/* theme-changer: end modules */

.modules-center,
.modules-left,
.modules-right {
    padding: 4px 8px;
    border-radius: 100px;
}

.modules-left {
    padding: 4px;
}

* {
    all: unset;
    padding: 0;
    margin: 0;
    min-height: 0;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
    font-weight: 800;
    color: @text;
}

tooltip {
    border: none;
    border-radius: 8px;
    background-color: @text;
}

tooltip label {
    font-family: "JetBrainsMono Nerd Font Propo";
    padding: 4px 8px;
    color: @base;
}

#workspaces button {
    margin: 0 2px;
    padding: 0 5px;
    min-width: 20px;
    border-radius: 100px;
    transition: all 0.2s ease;
    background-color: @surface0;
}

#workspaces button.active {
    min-width: 40px;
    animation: ws-active forwards;
}

#workspaces button.active label {
    color: @crust;
}

#workspaces button:first-child {
    margin-left: 0;
}

#workspaces button:last-child {
    margin-right: 0;
}

menu {
    padding: 8px;
    border-radius: 8px;
    background-color: @text;
}

menu image,
menuitem label {
    color: @base;
}

menuitem label:hover {
    color: red;
}
