@import "colors.css";

* {
    all: unset;
    padding: 0;
    margin: 0;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
    font-weight: 700;
    color: @font;
}

window#waybar {
    border-radius: 100px;
    background-color: @bg;
}

window#waybar > box {
    padding: 8px 16px;
}

.modules-center, .modules-left, .modules-right {
    padding: 0px;
}

tooltip {
    border: none;
    border-radius: 8px;
    background-color: @font;
}

tooltip label {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: 800;
    padding: 4px 8px;
    color: @bg;
}

#custom-workspaces {
    font-family: "JetBrainsMono Nerd Font";
}
