@import './styles/colors.css';

/* theme-changer: begin */
:root {
  --cc-bg:               rgba(26,28,32,0.8);
  --noti-border-color:   rgba(30,32,36,0.35);
  --noti-bg:             20, 20, 33;
  --noti-bg-alpha:       0.80;
  --noti-bg-darker:      #1a1c20;
  --noti-bg-hover:       #353945;
  --noti-bg-focus:       rgba(30,32,36,0.3);
  --noti-close-bg:       #353945;
  --noti-close-bg-hover: #1e2024;
  --text-color:          #d3dae3;
  --text-color-disabled: #666a73;
  --bg-selected:         #420ed2;
}
/* theme-changer: end */

@import './styles/central_control.css';
@import './styles/notifications.css';
