/* theme-changer: begin */
/* libadwaita */
@define-color accent_color #d8d8d8;
@define-color accent_bg_color #d8d8d8;
@define-color accent_fg_color #121212;
@define-color window_bg_color #121212;
@define-color window_fg_color #e4e4e4;
@define-color view_bg_color #1c1c1c;
@define-color view_fg_color #e4e4e4;
@define-color headerbar_bg_color #444444;
@define-color headerbar_fg_color #e4e4e4;
@define-color headerbar_backdrop_color #121212;
@define-color headerbar_border_color #444444;
@define-color headerbar_shade_color #080808;
@define-color headerbar_darker_shade_color #080808;
@define-color sidebar_bg_color #444444;
@define-color sidebar_fg_color #e4e4e4;
@define-color sidebar_backdrop_color #121212;
@define-color sidebar_border_color #444444;
@define-color sidebar_shade_color #080808;
@define-color secondary_sidebar_bg_color #121212;
@define-color secondary_sidebar_fg_color #e4e4e4;
@define-color secondary_sidebar_backdrop_color #121212;
@define-color secondary_sidebar_border_color #444444;
@define-color secondary_sidebar_shade_color #080808;
@define-color card_bg_color #1c1c1c;
@define-color card_fg_color #e4e4e4;
@define-color card_shade_color #080808;
@define-color popover_bg_color #262626;
@define-color popover_fg_color #e4e4e4;
@define-color popover_shade_color #080808;
@define-color dialog_bg_color #1c1c1c;
@define-color dialog_fg_color #e4e4e4;
@define-color thumbnail_bg_color #262626;
@define-color thumbnail_fg_color #e4e4e4;
@define-color shade_color #080808;
@define-color scrollbar_outline_color #080808;

/* GTK legacy */
@define-color theme_bg_color #121212;
@define-color theme_base_color #1c1c1c;
@define-color theme_fg_color #e4e4e4;
@define-color theme_text_color #e4e4e4;
@define-color theme_selected_bg_color #d8d8d8;
@define-color theme_selected_fg_color #121212;
@define-color theme_unfocused_bg_color #121212;
@define-color theme_unfocused_fg_color #c5c5c5;
@define-color insensitive_fg_color #c5c5c5;
@define-color borders #444444;
@define-color content_view_bg #1c1c1c;
@define-color error_color #e0e0e0;
@define-color success_color #cfcfcf;
@define-color warning_color #404040;
/* theme-changer: end */

* {
    font-family: "SF Pro Display";
    font-weight: 600;
}

toolbarview,
header tabs,
header tabs tab,
stack,
stack box,
stack box scrolledwindow,
stack box scrolledwindow box,
popover contents modelbutton {
    background: transparent;
}

.sidebar-pane {
    background: transparent;
    box-shadow: none;
}

.sidebar-pane row:selected {
    color: @accent_fg_color;
    background: @accent_bg_color;
}

window {
    color: @window_fg_color;
    background: alpha(@window_bg_color, 0.5);
}

listview row:selected {
    color: @accent_fg_color;
    background: @accent_bg_color;
}

header {
    color: @headerbar_fg_color;
    background: alpha(@headerbar_bg_color, 0);
}

button {
    color: @view_fg_color;
    background: @view_bg_color;
}

button:checked {
    color: @accent_fg_color;
    background: @accent_bg_color;
}

popover contents {
    border-color: @borders;
    background: @popover_bg_color;
}

popover contents modelbutton:hover {
    color: @accent_fg_color;
    background: @accent_bg_color;
}

trough {
    border: none;
    background: @window_bg_color;
}

trough highlight {
    border: none;
    background: @accent_color;
}

list row {
    border: none;
}
