@import './styles/colors.css';

/* theme-changer: begin */
:root {
  --cc-bg:               rgba(30,30,46,0.8);
  --noti-border-color:   rgba(108,112,134,0.35);
  --noti-bg:             49, 50, 68;
  --noti-bg-alpha:       0.80;
  --noti-bg-darker:      #1E1E2E;
  --noti-bg-hover:       #45475A;
  --noti-bg-focus:       rgba(108,112,134,0.3);
  --noti-close-bg:       #45475A;
  --noti-close-bg-hover: #6C7086;
  --text-color:          #CDD6F4;
  --text-color-disabled: #A6ADC8;
  --bg-selected:         #CBA6F7;
}
/* theme-changer: end */

@import './styles/central_control.css';
@import './styles/notifications.css';
