@import './styles/colors.css';

/* theme-changer: begin */
:root {
  --cc-bg:               rgba(24,27,40,0.8);
  --noti-border-color:   rgba(39,42,52,0.35);
  --noti-bg:             20, 25, 30;
  --noti-bg-alpha:       0.80;
  --noti-bg-darker:      #181b28;
  --noti-bg-hover:       #353945;
  --noti-bg-focus:       rgba(39,42,52,0.3);
  --noti-close-bg:       #353945;
  --noti-close-bg-hover: #272a34;
  --text-color:          #d3dae3;
  --text-color-disabled: #666a73;
  --bg-selected:         #420ed2;
}
/* theme-changer: end */

@import './styles/central_control.css';
@import './styles/notifications.css';
