/* theme-changer: begin */
@define-color base #282a36;
@define-color mantle #6272a4;
@define-color crust #1e1f29;
@define-color surface0 #44475a;
@define-color surface1 #6272a4;
@define-color overlay0 #6272a4;
@define-color text #f8f8f2;
@define-color subtext0 #abb2bf;
@define-color blue #bd93f9;
@define-color mauve #bd93f9;
@define-color red #ff5555;
@define-color green #8be9fd;
@define-color yellow #f1fa8c;
@define-color peach #ffb86c;
/* theme-changer: end */

/* theme-changer: begin keyframes */
@keyframes ws-active {
    0%   { background-color: #bd93f9; }
    50%  { background-color: #ff79c6; }
    100% { background-color: #bd93f9; }
}
/* theme-changer: end keyframes */

/* theme-changer: begin modules */
.modules-left,
.modules-center,
.modules-right {
    background: rgba(40,42,54,0.95);
    border-radius: 14px;
    padding: 2px 10px;
    border: 2px solid #44475a;
    min-height: 0;
}
/* theme-changer: end modules */

.modules-center,
.modules-left,
.modules-right {
    padding: 4px 8px;
    border-radius: 100px;
    border: none;
    background-color: @base;
}

.modules-left {
    padding: 6px;
}

* {
    all: unset;
    padding: 0;
    margin: 0;
    min-height: 0;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
    font-weight: 700;
    color: @text;
}

tooltip {
    border: none;
    border-radius: 8px;
    background-color: @text;
}

tooltip label {
    font-family: "JetBrainsMono Nerd Font Propo";
    padding: 4px 8px;
    color: @base;
}

#workspaces button {
    margin: 0 2px;
    min-width: 15px;
    border-radius: 100px;
    transition: all 0.2s ease;
    background-color: @surface1;
}

#workspaces button label {
    color: transparent;
}

#workspaces button.active {
    min-width: 40px;
    animation: ws-active forwards;
}

#workspaces button.active label {
    color: @surface0;
}

#workspaces button:first-child {
    margin-left: 0;
}

#workspaces button:last-child {
    margin-right: 0;
}

menu {
    padding: 8px;
    border-radius: 8px;
    background-color: @text;
}

menu image,
menuitem label {
    color: @base;
    padding: 2px 0;
}

#tray {
    padding: 0 8px;
    border: 1px solid @surface1;
    border-radius: 100px;
    color: red;
}
