* {
    bg:          #000000B3;
    bg-selected: #222222FF;
    fg:          #DDDDDDFF;
    fg-alt:      #999999FF;
    border-col:  #444444FF;

    background-color: transparent;
    text-color:       @fg;
    font:             "SF Pro Display Bold 12";
}

window {
    location:       center;
    anchor:         center;
    width:          40%;
    x-offset:       0;
    y-offset:       0;

    enabled:              true;
    border:               1px;
    border-radius:        12px;
    border-color:         @border-col;
    background-color:     @bg;
    cursor:               "default";
}

mainbox {
    enabled:            true;
    spacing:            20px;
    padding:            20px;
    children:           [ "inputbar", "listview" ];
}

/* Search Bar Area */
inputbar {
    enabled:            true;
    spacing:            10px;
    margin:             0px;
    padding:            0px;
    background-color:   transparent;
    text-color:         @fg;
    children:           [ "entry" ];
}

prompt {
    enabled:            true;
    background-color:   transparent;
    text-color:         @fg;
}

entry {
    enabled:            true;
    background-color:   transparent;
    text-color:         @fg;
    cursor:             text;
    placeholder:        "Search...";
    placeholder-color:  @fg-alt;
}

/* Results List */
listview {
    enabled:            true;
    columns:            1;
    dynamic:            true;
    cycle:              false;
    dynamic:            true;
    scrollbar:          false;
    layout:             vertical;
    reverse:            false;
    lines:              10;
    fixed-height:       false;
    fixed-columns:      true;

    spacing:            0px;
    background-color:   transparent;
    text-color:         @fg;
}

/* Individual Result Item */
element {
    enabled:            true;
    spacing:            10px;
    padding:            10px;
    border-radius:      10px;
    background-color:   transparent;
    text-color:         @fg;
    cursor:             pointer;
}

element selected.normal {
    background-color:   @bg-selected;
    text-color:         @fg;
}

element-icon {
    size:               24px;   /* Size of your icons */
    cursor:             inherit;
    background-color:   transparent;
    text-color:         inherit;
}

element-text {
    vertical-align:     0.5;
    horizontal-align:   0.0;
    cursor:             inherit;
    background-color:   transparent;
    text-color:         inherit;
    markup:             true;
}
