* {
    font-family: "SF Pro Display";
    font-size: 1rem;
    font-weight: 800;
    color: var(--text-color);
    all: unset;
    margin: 0;
    padding: 0;
    transition: 200ms;
}

/* Avoid 'annoying' backgroud */
.blank-window {
    background: transparent;
}

/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
    margin: 32px;
    padding: 0px 24px;
    color: var(--text-color);
    border: 1px solid var(--noti-border-color);
    border-radius: 12px;
    background-color: var(--cc-bg);
    box-shadow: 4px 4px 8px var(--cc-bg);
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
    margin: 4px 0px;
    border: 1px solid var(--noti-border-color);
    border-radius: 8px;
    background-color: rgb(var(--noti-bg));
}

.notification-icon {
    background: black;
}

.control-center .notification-row .notification-background .notification.critical {
    color: red;
}

.control-center .notification-row .notification-background .notification .notification-content {
    padding: 12px;
}

.control-center .notification-row .notification-background .notification>*:last-child>* {
    min-height: 2rem;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action {
    background: red;
    border-radius: 6px;
    margin: 6px;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
    background-color: var(--bg-selected);
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action:active {
    background-color: var(--bg-selected);
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
    margin: 3px;
}

progressbar,
progress,
trough {
    border-radius: 12px;
}

progressbar {
    background-color: rgba(255, 255, 255, .1);
}

/* Notifications expanded-group */

.notification-group {
    margin-bottom: 8px;
    padding: 12px;
    border: 1px solid var(--noti-border-color);
    border-radius: 8px;
    background-color: rgba(var(--noti-bg), 0.3);
}

.notification-group-headers {
    font-weight: 700;
    font-size: 1.25rem;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    margin: 2px;
    padding: 4px;
    border: 1px solid var(--noti-border-color);
    border-radius: 6px;
    background: var(--noti-bg-darker);
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
    background: rgb(var(--noti-bg));
}

/* WIDGETS --------------------------------------------------------------------------- */

/* Notification clear button */
.widget-title {
    font-weight: 700;
    font-size: 1.5rem;
}

.widget-title button {
    padding: 2px 16px;
    border: 1px solid var(--noti-border-color);
    border-radius: 6px;
    background: var(--noti-bg);
}

.widget-title button:hover {
    background: rgb(var(--noti-bg));
}

/* Do not disturb */
.widget-dnd {
    font-weight: 700;
    font-size: 1.1rem;
    margin: 12px 0px;
}

.widget-dnd>switch {
    font-size: initial;
    padding: 2px;
    border: 1px solid var(--noti-border-color);
    border-radius: 100px;
    background: var(--noti-bg-darker);
}

.widget-dnd>switch:hover {
    background: rgb(var(--noti-bg));
}

.widget-dnd>switch slider {
    border-radius: 50%;
    background: var(--text-color-disabled);
}

.widget-dnd>switch:checked slider {
    background: var(--text-color);
}


/* Buttons menu */
.widget-buttons-grid {
    font-size: x-large;
    margin: 6px;
    padding: 6px 2px;
    border-radius: 12px;
    background: @background-alt;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 4px 10px;
    padding: 6px 12px;
    border-radius: 8px;
    background: transparent;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: @hover;
}


/* Music player */
.widget-mpris {
    margin: 20px 0px;
    background: transparent;
}

.widget-mpris-player {
    padding: 12px;
    border: 1px solid var(--noti-border-color);
    border-radius: 8px;
    background-color: var(--noti-bg-darker);
}

.widget-mpris-album-art {
    border-radius: 12px;
}

.widget-mpris-title {
    font-weight: 700;
    font-size: 1rem;
}

.widget-mpris-subtitle {
    font-weight: 500;
    font-size: 0.8rem;
}

picture.mpris-background {
    opacity: 0;
}
