.notification-row {
    outline: none;
}

.floating-notifications.background .notification-row .notification-background {
    margin: 32px;
    border: 2px solid var(--noti-border-color);
    border-radius: 8px;
    background-color: rgba(var(--noti-bg), var(--noti-bg-alpha));
    box-shadow: 4px 4px 8px rgba(var(--noti-bg), var(--noti-bg-alpha));
}

.floating-notifications.background .notification-row .notification-background:hover {
    background-color: var(--noti-bg-hover);
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
    padding: 12px;
    color: var(--text-color);
}

.floating-notifications.background .notification-row .notification-background .notification .notification-icon {
    background: black;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* {
    min-height: 2rem;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action {
    border-radius: 8px;
    background-color: @bg;
    color: red;
    margin: 6px;
    border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
    background-color: @hover;
    border: 1px solid @bg2;
}

.image {
    margin: 10px 20px 10px 0px;
}

.summary {
    font-weight: 800;
    font-size: 1.1rem;
}

.body {
    font-weight: 500;
    font-size: 0.9rem;
}

.floating-notifications.background .notification-row .notification-background .close-button {
    margin: 6px;
    padding: 2px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
    background-color: @bg2;
}

/* Target the progress bar specifically in notifications */
progressbar,
progress,
trough {
    min-height: 5px;
    border-radius: 100px;
    background-color: var(--noti-bg-darker);
}

progress {
    border-radius: 100px;
    background-color: var(--bg-selected);
}
