/* theme-changer: begin */
@define-color base #111318;
@define-color mantle #33353a;
@define-color crust #44474f;
@define-color surface0 #1e1f25;
@define-color surface1 #282a2f;
@define-color overlay0 #33353a;
@define-color text #e2e2e9;
@define-color subtext0 #c4c6d0;
@define-color blue #adc6ff;
@define-color mauve #debcdf;
@define-color red #ffb4ab;
@define-color green #2b4678;
@define-color yellow #3f4759;
@define-color peach #583e5b;
/* theme-changer: end */

/* theme-changer: begin keyframes */
@keyframes ws-active {
    0%   { background-color: #adc6ff; }
    50%  { background-color: #bfc6dc; }
    100% { background-color: #adc6ff; }
}
/* theme-changer: end keyframes */

/* theme-changer: begin modules */
.modules-left,
.modules-center,
.modules-right {
    background: rgba(17,19,24,0.95);
    border-radius: 14px;
    padding: 2px 10px;
    border: 2px solid #1e1f25;
    min-height: 0;
}
/* theme-changer: end modules */

.modules-center,
.modules-left,
.modules-right {
    padding: 4px 8px;
    border-radius: 100px;
    border: none;
    background-color: @base;
}

.modules-left {
    padding: 6px;
}

* {
    all: unset;
    padding: 0;
    margin: 0;
    min-height: 0;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
    font-weight: 700;
    color: @text;
}

tooltip {
    border: none;
    border-radius: 8px;
    background-color: @text;
}

tooltip label {
    font-family: "JetBrainsMono Nerd Font Propo";
    padding: 4px 8px;
    color: @base;
}

#workspaces button {
    margin: 0 2px;
    min-width: 15px;
    border-radius: 100px;
    transition: all 0.2s ease;
    background-color: @surface1;
}

#workspaces button label {
    color: transparent;
}

#workspaces button.active {
    min-width: 40px;
    animation: ws-active forwards;
}

#workspaces button.active label {
    color: @surface0;
}

#workspaces button:first-child {
    margin-left: 0;
}

#workspaces button:last-child {
    margin-right: 0;
}

menu {
    padding: 8px;
    border-radius: 8px;
    background-color: @text;
}

menu image,
menuitem label {
    color: @base;
    padding: 2px 0;
}

#tray {
    padding: 0 8px;
    border: 1px solid @surface1;
    border-radius: 100px;
    color: red;
}
