/* theme-changer: begin */
@define-color base #191d27;
@define-color mantle #2e3440;
@define-color crust #1e2330;
@define-color surface0 #242b38;
@define-color surface1 #2a3040;
@define-color overlay0 #3b4252;
@define-color text #eceff4;
@define-color subtext0 #d8dee9;
@define-color blue #88c0d0;
@define-color mauve #b48ead;
@define-color red #bf616a;
@define-color green #8fbcbb;
@define-color yellow #ebcb8b;
@define-color peach #d08770;
/* theme-changer: end */

/* theme-changer: begin keyframes */
@keyframes ws-active {
    0%   { background-color: #88c0d0; }
    50%  { background-color: #81a1c1; }
    100% { background-color: #88c0d0; }
}
/* theme-changer: end keyframes */

/* theme-changer: begin modules */
.modules-left,
.modules-center,
.modules-right {
    background: rgba(25,29,39,0.95);
    border-radius: 14px;
    padding: 2px 10px;
    border: 2px solid #242b38;
    min-height: 0;
}
/* theme-changer: end modules */

.modules-center,
.modules-left,
.modules-right {
    padding: 4px 8px;
    border-radius: 100px;
}

.modules-left {
    padding: 4px;
}

* {
    all: unset;
    padding: 0;
    margin: 0;
    min-height: 0;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
    font-weight: 800;
    color: @text;
}

tooltip {
    border: none;
    border-radius: 8px;
    background-color: @text;
}

tooltip label {
    font-family: "JetBrainsMono Nerd Font Propo";
    padding: 4px 8px;
    color: @base;
}

#workspaces button {
    margin: 0 2px;
    padding: 0 5px;
    min-width: 20px;
    border-radius: 100px;
    transition: all 0.2s ease;
    background-color: @surface0;
}

#workspaces button.active {
    min-width: 40px;
    animation: ws-active forwards;
}

#workspaces button.active label {
    color: @crust;
}

#workspaces button:first-child {
    margin-left: 0;
}

#workspaces button:last-child {
    margin-right: 0;
}

menu {
    padding: 8px;
    border-radius: 8px;
    background-color: @text;
}

menu image,
menuitem label {
    color: @base;
}

menuitem label:hover {
    color: red;
}
